version: '3.8'
services:
  postgres:
    image: postgres:16-alpine
    container_name: vg-control-tower-db
    ports:
      - '5432:5432'
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: vg_control_tower
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
